<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>US Map for Scales and Cuffs</title>
  <meta name="description" content="US Map for Scales and Cuffs">
  <meta name="Elijah Blake" content="SitePoint">

  <link rel="stylesheet" type="text/css" href="application.css">

</head>

<body>
    <h1>Scales and Cuffs in America</h1>
    <script src="application.js"></script><script src="application.js"></script>
    <div id="map"></div>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgZabbQpqB9UdP4vR2cNVweX4GiTBlMU0&callback=initMap">
    </script>
</body>
</html>



